:root {
    --color-main: #220;
    --color-bg: #FEF;
    --color-1: #80B;
    --color-2: #48D;
}

body {
    color: var(--color-main);
    background-color: var(--color-bg);
    padding: 0px;
    margin: 0px;
}

.main {
    display: none;
}

.main.active {
    display: block;
}

.content {
    margin: 2rem;
    padding: 1rem;
    border: 4px solid var(--color-main);
    border-radius: 1rem;
}